*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background: #000022;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}

.App{
  min-width: 550px;
  max-width: 670px;
  min-height: 550px;
  background: #F5F7FB;
}

/*   font-family: "Inter", sans-serif;
      font-family: "Karla", sans-serif;

*/

.home {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-h1,
.home-h2{
  margin: 0;
  color: #293264;
}

.home-h1{
  font-size: 2rem;
  font-family: "Karla", sans-serif;
}

.home-h2{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding-bottom: 29px;
}
.home-p{
  font-size: 1rem;
  font-weight: bold;
}
.home-btn{
  width: 193px;
  height: 52px;
  border-radius: 15px;
  border: none;
  background: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.Main{
  padding: 30px 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.quizz {
  text-align: left;
  width: 90%;
  /* margin: auto; */
}
.quizz-form{
  padding: 14px auto;
}
.quizz-legend{
  font-family: "Karla", sans-serif;
  color: #293264;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1rem;
}
.quizz-div{
  flex-wrap: wrap;
  margin: 15px 0 15px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.quizz-label{
  font-size: 1rem;
  padding: 4px 15px;
  border: 1px solid #4D589E;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'inter', sans-serif;
}
.quizz-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background: #4D5B9E;
  color: #F5F7FB;
  font-size: 0.90rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.hidden{
  display: none;
}
.selected{
  background: #618B4A ;
  color: #D7F9F1;
}
.correct{
  background: #271175 ;
  color: #D7F9F1;
}

.state-app{
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  padding: 20px;
  background: black;
  color: white;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}

.state-quiz{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  padding: 20px;
  background: black;
  color: white;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}

.state-quiz2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  padding: 20px;
  background: black;
  color: white;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}